/* Medium devices*/

@media (max-width:799px) {

    /* hero */
    #hero {
        padding: 20px;
        background-position: top 30% right 30%;
    }

    #feature {
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
    }

    .card-container {
        justify-content: center;
    }


    #our-services .main-box {
        max-width: 25%;
    }

}

/* small devics */
@media (max-width:480px) {
    #hero {
        display: flex;
        flex-direction: column-reverse;
    }

    .header {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        display: flex;
        flex-direction: column;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
    }

    #feature {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .box-main{
        display: flex;
        flex-direction: column-reverse;
    }
}